body {
  background: #efeae2;
  font-family: Arial;
}

.box {
  width: 360px;
  margin: 40px auto;
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.chat-area {
  height: 300px;
  background: #dcf8c6;
  overflow-y: auto;
  padding: 10px;
}

.msg {
  padding: 6px 10px;
  margin: 5px 0;
  border-radius: 6px;
  max-width: 70%;
  clear: both;
}

.my {
  background: #dcf8c6;
  float: right;
}

.other {
  background: #fff;
  float: left;
}

.input-area {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 6px;
}
